Raj Patel. 301383911

In [2]:
data = read.table(file = "tooling.txt", header = TRUE)
head(data)

  diameter
1 3822.9
2 3823.5
3 3827.1
4 3824.1
5 3824.3
6 3827.4

In [3]:
t.test(data, alternative = "two.sided", mu = 3824)

	One Sample t-test

data:  data
t = 0.64744, df = 19, p-value = 0.5251
alternative hypothesis: true mean is not equal to 3824
95 percent confidence interval:
 3823.375 3825.185
sample estimates:
mean of x
  3824.28