Raj Patel . 301383911

In [2]:
data = read.table(file = "fishdata.txt", header = TRUE)
head(data)

  Weight Diagonal
1 242    4.0200
2 290    4.3056
3 340    4.6961
4 363    4.4555
5 430    5.1340
6 450    4.9274

In [3]:
t.test(data$Diagonal, alternative = "less", mu = 4.5)

	One Sample t-test

data:  data$Diagonal
t = -0.61719, df = 158, p-value = 0.269
alternative hypothesis: true mean is less than 4.5
95 percent confidence interval:
     -Inf 4.638688
sample estimates:
mean of x
 4.417486