Raj Patel . 301383911

In [2]:
data = read.table(file = "bp.txt", header = TRUE)
head(data)

  pre post
1 140 140
2 149 148
3 147 141
4 139 140
5 150 152
6 141 141

In [3]:
data$diff = data$post - data$pre
head(data)

  pre post diff
1 140 140   0
2 149 148  -1
3 147 141  -6
4 139 140   1
5 150 152   2
6 141 141   0

In [3]:
mean(data$diff)

[1] -5.02

In [4]:
sd(data$diff)

[1] 5.442036

In [8]:
qt(0.975,99)

[1] 1.984217

In [5]:
t.test(data$diff, conf.level = 0.95)

	One Sample t-test

data:  data$diff
t = -9.2245, df = 99, p-value = 5.377e-15
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 -6.099818 -3.940182
sample estimates:
mean of x
    -5.02