Raj Patel . 301383911

In [1]:
data = read.table(file = "marks.txt", header = TRUE)
head(data)

  Mark Section
1 64   A
2 68   A
3 86   A
4 71   A
5 71   A
6 87   A

In [2]:
t.test(data$Mark[data$Section == "B"], data$Mark[data$Section == "A"],
      alternative = "two.sided", mu = 0, var.equal = TRUE)

	Two Sample t-test

data:  data$Mark[data$Section == "B"] and data$Mark[data$Section == "A"]
t = -2.0438, df = 238, p-value = 0.04208
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.87701267 -0.08965399
sample estimates:
mean of x mean of y
 67.70000  70.18333